/*
type your custom css here
在本文件键入您的自定义CSS
升级主题文件时请注意保护本文件，防止意外覆盖。
*/

/*.post {
	margin-top: 60px;
	margin-bottom: 60px;
	padding:25px;
	-webkit-box-shadow:0 0 5px rgba(202, 203, 203, .5);
	-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
*/

/*
将首页显示的每一篇文章的外框添加框线、阴影
*/